.card {
    width: 700px;
    height: 400px;
    max-width: 90%;
    min-height: 300px;
    background-color: #282A3A;
    margin: 3rem auto;
    padding: 50px 30px;
    border-radius: 20px
}
.headWrapper {
    padding-bottom: 22px;
    text-align: center;
}
p {
    text-align: center;
    padding-bottom: 12px;
}

.btnWrapper {
    margin-top: 30px;
    display: block;
    margin: 30px auto;
    position: relative;
}
.btnOnly {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 30%;
}
.btnWrapper button{
    background-color: #16FF00;
    border: none;
    cursor: pointer;
}
.btnWrapper span {
    text-align: center;
}
